<script src="https://use.fontawesome.com/45e03a14ce.js"></script>
<link rel="stylesheet" href="/css/chat.css">
{{> header}}
<div class="main_section">
    <div class="container">
        <div class="chat_container">
            {{!--<div class="col-sm-3 chat_sidebar">
                <div class="row">
                    <div class="member_list">
                        <ul class="list-unstyled">
                            <li class="left clearfix">
                                <span class="chat-img pull-left">
                                <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                                </span>
                                <div id="chats" class="chat-body clearfix">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>--}}
            <!--chat_sidebar-->
            <div class="col-sm-12 message_section">
                <div class="row">
                    <div class="new_message_head">
                        <div class="pull-left">
                            <p id="user_name"></p>
                        </div>
                    </div><!--new_message_head-->
                
                    <div class="chat_area">
                        <ul id="messages" class="list-unstyled">
                        </ul>
                    </div><!--chat_area-->
                    <div class="message_write">
                        <form id="message-form">
                            <textarea id="messageInput" class="form-control" placeholder="type a message"></textarea>
                            <div class="clearfix"></div>
                            <div class="chat_bottom">
                                <a id="send-location" class="pull-left upload_btn">
                                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                    Share Location
                                </a>
                                <button class="pull-right btn btn-success">SEND</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!--message_section-->
        </div>
    </div>
</div>

<!-- Modal -->
<div id="geolocationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Alert</h3>
    </div>
    <div class="modal-body">
        <p>Geolocation not supported by the browser.</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

{{> footer}}
