        <footer>
            <div class="container">
                <p class="text-muted">Created by Cesar Martinez - Copyright {{getCurrentYear}}</p>
            </div>
        </footer>
    </body>
</html>
